@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

*::before, *::after{
	padding: 0;
	margin: 0;
}

body {
    background-color: #2b639b;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 30px auto;
    max-width: 1280px;
    width: calc(100% - 32px);
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

.box-head {
    text-align: center;
    margin-bottom: 80px;
}

.box-head-title {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(-45deg, #3379be, #2153cf);
    background-clip: text;
    -webkit-background-clip: text;
    width: 50%;
    margin: 0 auto;
    padding: 0 90px;
}

.box-head-title::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    background-color: #6bb5ff;
    width: 100px;
    height: 6px;
}

.box-head-style-first {
    position: absolute;
    left: 0;
    top: 36%;
}

.box-head-style-last {
    position: absolute;
    right: 0;
    top: 36%;
}

.box-head-style-first div {
    position: absolute;
}

.box-head-style-first div:nth-child(1) {
    top: 30px;
    left: 26px;
    width: 10px;
    height: 10px;
    background-color: #2153cf;
    transform: rotate(45deg);
    border-radius: 50%;
}

.box-head-style-first div:nth-child(2) {
    top: -15px;
    right: -56px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1bb8ee;
}

.box-head-style-first div:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: #1bb8ee;
    transform: rotate(45deg);
}

.box-head-style-last div {
    position: absolute;
}

.box-head-style-last div:nth-child(1) {
    top: 30px;
    left: 26px;
    width: 10px;
    height: 10px;
    background-color: #2153cf;
    transform: rotate(45deg);
    border-radius: 50%;
}

.box-head-style-last div:nth-child(2) {
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1bb8ee;
}

.box-head-style-last div:nth-child(3) {
    top: -15px;
    right: -56px;
    width: 16px;
    height: 16px;
    background-color: #1bb8ee;
    transform: rotate(45deg);
}

.box-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 60px;
}

.box-body-step {
    box-shadow: 0 0 20px #b4c5f7;
    min-height: 420px;
    margin: 0 20px;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
}

.box-body-step__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2355cf;
    letter-spacing: 2px;
    font-weight: 500;
}

.box-body-step__head span {
    font-weight: bold;
    font-size: 26px;
}

.box-body-step__main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-body-step__main img {
    width: 200px;
}

.box-body-step__content {
    text-align: center;
}

.box-body-step__content-title {
    font-weight: bold;
    margin-bottom: 16px;
}

.box-body-step__content-text {
    color: #878b8b;
    font-size: 14px;
}

@media (max-width: 1248px) {
    .box-head-title {
        width: 69%;
    }
    .box-body-step {
        min-height: 453px;
    }
}

@media (max-width: 876px) {
    .box-head-title {
        width: 80%;
    }
    .box-body {
        flex-direction: column;
    }
    .box-body-step {
        margin: 0 10px 16px 10px;
    }
}

@media (max-width: 720px) {
    .box-head-title {
        width: 100%;
        padding: 0;
        font-size: 26px;
    }
    .box {
        padding: 40px 0;
    }
    .box-body {
        padding: 0;
    }
    .box-head-style-first,
    .box-head-style-last {
        display: none;
    }
    .box-body-step {
        width: unset;
        min-height: 400px;
    }
}